/*
I det här dokumentet hittar du all styling för det här projektet,
i morgon ska vi lära oss att skriva CSS.
*/

/* Här är styling som gäller för hela sidan */
body {
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #93B7BE;
  margin: 0;
}

/* Här finns all styling för knappen */
.button {
  background-color: white;
  color: #785964;
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Här är styling som gäller för alla rubriker och texter */
h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: black;
}

/* Här är styling för about-me sektionen */
.about-me {
  background-color: #93B7BE;
  padding: 150px 30px;
  color: white;
  text-align: center;
}

/* Här är styling för bilden som ligger i about-me sektionen */
.about-me img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Här är styling för greatness sektionen */
.greatness {
  padding: 100px 10px;
  width: 60%;
  margin: 0 auto;
}

/* Här är styling för footern på sidan */
footer {
  background-color: #785964;
  padding: 100px 230px;
}

a {
  text-decoration: none;
  color: black; 
  font-size: 20px;
  font-weight: 200;

}

.social-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}